body {
  margin: 0;
}
h1 {
  font-size: 72px;
  color: #ffffff;
  background-color: #281b2d;
  text-align: center;
  margin-top: 0;
  padding: 25px 0;
}

.subhead {
  background-color: #281b2d;
  color: #fcd801;
  font-size: 48px;
  padding: 20px;
  border-bottom: solid 5px green;
}

.white-text {
  color: white;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
.columns {
  display: flex;
  /* margin: 10px; */
}
.main-content {
  width: 65%;
  margin-right: 5%;
}
.sidebar {
  width: 30%;
}
.col-right {
  margin-left: 25px;
}
